@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-primary: #610720;
    --color-secondary: #4c0519;
    --color-tertiary: #C18C1A;
}

/* Scrollbars */

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-button:increment{
    display: none;
}

::-webkit-scrollbar:vertical {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
}

::-webkit-scrollbar-track{
    background: transparent;
}

/* Animate Scale */

.animate-beats {
    transition: all 1s ease-in;
    animation: beats .8s alternate infinite ease-in;
}

.animate-beats:hover {
    animation: none;
    transform: scale(1);
}
  
@keyframes beats {
    0%   {transform: scale(1);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

.bg-gif-win{
    background-image: url('https://www.gifss.com/fuego/artificiales/images/fuegos-artificiales-15.gif');
    background-size: cover;
    width: 100%;
    padding:0;
    margin:0;
}
/*
https://www.gifsanimados.org/data/media/492/fuegos-artificiales-imagen-animada-0012.gif
https://www.gifsanimados.org/data/media/492/fuegos-artificiales-imagen-animada-0002.gif
*/