// Vars
:root {
    --opacity-color: 1;
    --main-bg-darkcolor: rgba(76,5,25,var(--opacity-color));
    --main-bg-lightcolor: rgba(97,7,32,var(--opacity-color));
    --border-color: rgba(97,7,32,var(--opacity-color));
}